@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import "tailwindcss";

@layer utilities {
  
}

@theme {
  --font-roboto: "Gilda Display", sans-serif; 
}


:root {
  --background: #000002;
  --blue: #20232A;
  --dark-red: #260401;
  --red: #3F0D09;
  --white: #EAE5E1;
  --wheat: #E1D5C2
}


* {
  font-family: "Gilda Display", serif;
}

body {
  background: var(--background);
  color: var(--white);
}
